name: CI for GitHub release

on:
  release:
    types: [created]

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Check out commit
        uses: actions/checkout@v4

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org

      - name: Lint codebase
        run: pnpm lint-codebase

      - name: Publish to npm
        uses: JS-DevTools/npm-publish@v4
