name: On push

on: push

jobs:
  run-checks:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out commit
        uses: actions/checkout@v3

      - name: Set up pnpm
        uses: pnpm/action-setup@v2.2.4

      - name: Set up Node 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run plugin checks
        run: |
          pnpm typecheck
          pnpm lint-plugin
          pnpm test
